openapi: 3.0.1
info:
  title: Ricoh APIs
  version: 1.0.0
servers:
  - url: https://apigatewaydev.adient.com/ricoh/v1
    description: Dev
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigatewayqa.adient.com/ricoh/v1
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigateway.adient.com/ricoh/v1
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /componentdisposition:
    post:
      summary: Component Disposition
      description: Update Component Disposition
      tags: 
        - Component
      requestBody:
        description: Component Disposition Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentDispositionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  32:
                    description: 32 is the transaction identifier and the value is the compoenent id
                    type: string
                    example: SC9L128K235690
          
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 401
                  message:
                    type: string
                    example: Invalid Authorization key for resource
        '400':
          description: Bad data
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 400
                  message:
                    type: string
                    example: LOGICALID missing or value is not COMPONENTDISPOSITION
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                type: object
                description: ''
                properties:
                  code:
                    type: string
                    example: 404
                  message:
                    type: string
                    example: Resource Not Found
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    ComponentDispositionRequest:
     type: object
     description: Component Details Request Body
     properties:
        sender:
          type: object
          properties:
            trackingId:
              type: string
              example: "100000|909090909|JHNN-00008"
            logicalId:
              type: string
              example: COMPONENTDISPOSITION
            Mode:
              type: string
              example: T
              description: T for Test mode
            component:
              type: string
            task:
              type: string
            referenceId:
              type: string
              example: "9999"
            authorizationId:
              type: string
            dataArea:
              type: object
              properties:
                dispositionDetailId:
                  type: string
                  example: 5454545454
                componentId:
                  type: string
                  example: SC9L128K235690
                validationComponentTyp:
                  type: string
                  example: "sp"
                transactionTypeId:
                  type: string
                  example: 4
                disposalApprovedBy:
                  type: string
                  example: Doe, Jane
                disposalDate:
                  type: string
                  example: "10/24/2021 01:58:21 pm"
                attentionPersonName:
                  type: string
                  example: "ship to rco 5 mile post 10-22 teardown"
                dispositionReasonCodeDesc:
                  type: string
                  example: "ship"
                shipToLocationId:
                  type: string
                  example: "RCO"
                locationName:
                  type: string
                  example: rco - five mile
                locationCityName:
                  type: string
                  example: Maine
                locationStreetName:
                  type: string
                  example: Oster Port
                locationStateName:
                  type: string
                locationZipCd:
                  type: string
                  example: 87456