openapi: 3.0.1
info:
  title: Ricoh APIs
  version: 1.0.0
servers:
  - url: https://apigatewaydev.adient.com/ricoh/v1
    description: Dev
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigatewayqa.adient.com/ricoh/v1
    description: Quality
    variables:
      scheme:
        enum:
          - https
        default: https
  - url: https://apigateway.adient.com/ricoh/v1
    description: Production
    variables:
      scheme:
        enum:
          - https
        default: https
paths:
  /componentdisposition:
    post:
      summary: Component Disposition
      description: Update Component Disposition
      tags: 
        - Component
      requestBody:
        description: Component Disposition Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentDispositionRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  32:
                    description: 32 is the transaction identifier and the value is the compoenent id
                    type: string
                    example: SC9L128K235690
          
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidAuthorizationKey'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFoundInvalidObjectKey'
  /componentdetails:
    post:
      summary: Component Details
      description: Send Component Details
      tags: 
        - Component
      requestBody:
        description: Component Details Request Body
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ComponentDetailsRequest'
        required: true
      responses:
        '200':
          description: OK
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorInvalidAuthorizationKey'
        '404':
          description: Resource Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorNotFound'
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      name: Authorization
      in: header
  schemas:
    ComponentDispositionRequest:
     type: object
     description: Component Disposition Request Body
     properties:
        sender:
          type: object
          properties:
            trackingId:
              type: string
              example: "100000|909090909|JHNN-00008"
            logicalId:
              type: string
              example: COMPONENTDISPOSITION
            Mode:
              type: string
              example: T
              description: T for Test mode
            component:
              type: string
            task:
              type: string
            referenceId:
              type: string
              example: "9999"
            authorizationId:
              type: string
            dataArea:
              type: object
              properties:
                dispositionDetailId:
                  type: string
                  example: 5454545454
                componentId:
                  type: string
                  example: SC9L128K235690
                validationComponentTyp:
                  type: string
                  example: "sp"
                transactionTypeId:
                  type: string
                  example: 4
                disposalApprovedBy:
                  type: string
                  example: Doe, Jane
                disposalDate:
                  type: string
                  example: "10/24/2021 01:58:21 pm"
                attentionPersonName:
                  type: string
                  example: "ship to rco 5 mile post 10-22 teardown"
                dispositionReasonCodeDesc:
                  type: string
                  example: "ship"
                shipToLocationId:
                  type: string
                  example: "RCO"
                locationName:
                  type: string
                  example: rco - five mile
                locationCityName:
                  type: string
                  example: Maine
                locationStreetName:
                  type: string
                  example: Oster Port
                locationStateName:
                  type: string
                locationZipCd:
                  type: string
                  example: 87456
    ComponentDetailsRequest:
      type: object
      description: Component Details Request Body
      properties:
        dataArea:
          type: array
          items:
            type: object
            properties:
              componentId:
                type: string
                example: "10608533"
              validationComponentTyp:
                type: string
                example: "SP"
              componentDesc:
                type: string
                example: "1st Row LH PWR Cloth, TG7 A3 Frame w/ T90A Trim"
              testEngineerNme:
                type: string
                example: "Last Name, First Name"
              programName:
                type: string
                example: "2022 Honda T90A Seat"
              dvpNbr:
                type: string
                example: "131825"
              lastModified:
                type: string
                example: "10/22/2021 02:58:21 pm"
              isActive: 
                type: string
                example: "1"
    ErrorInvalidAuthorizationKey:
      type: object
      description: Error Message for Invalid Authorization Key
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "401"
            message:
              type: string
              example: "Invalid Authorization key for resource"
    ErrorNotFoundInvalidObjectKey:
      type: object
      description: Error Message for Resource not found
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "404"
            message:
              type: string
              example: "Resource Not Found or LogicalId is either missing or Invalid. Valid values for LogicalId is COMPONENTDISPOSITION"
    ErrorNotFound:
      type: object
      description: Error Message for Resource not found
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              example: "404"
            message:
              type: string
              example: "Resource Not Found"